R2_BUCKET_NAME=everydayadvertise
R2_ENDPOINT_URL=https://e0e697ba93f5fde654340ebc4206b59c.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=YOUR_R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_R2_SECRET_ACCESS_KEY
MEDIA_BASE_URL=https://cdn.everydayadvertise.com/

# Fallback (local)
# MEDIA_BASE_URL=/static/uploads/
