[Desktop Entry]
Version=1.0
Type=Application
Name=EA TV
Comment=Launch EA TV Client with Video Slicing
Exec=/home/everydayadvertise/ea_tv_launcher.sh
Icon=/home/everydayadvertise/ea_tv_icon.png
Terminal=false
Categories=AudioVideo;Player;
StartupNotify=true
Keywords=ea;everyday;advertise;tv;video;player;
MimeType=video/mp4;video/mpeg;
Actions=Emergency;

[Desktop Action Emergency]
Name=Emergency Exit
Exec=pkill vlc