[Desktop Entry]
Version=1.0
Type=Application
Name=Pizza Hut TV (Terminal)
Comment=Pizza Hut TV Screen Control with Terminal
Exec=/home/everydayadvertise/start_ea_tv.sh
Icon=application-x-executable
Terminal=true
Categories=AudioVideo;Player;
Keywords=pizza;hut;tv;terminal;debug;