[Desktop Entry]
Version=1.0
Type=Application
Name=EA TV
Comment=EA TV Screen Control
Exec=/home/everydayadvertise/start_ea_tv.sh
Icon=application-x-executable
Terminal=true
Categories=AudioVideo;Player;