[Desktop Entry]
Version=1.0
Type=Application
Name=Pizza Hut TV
Comment=Launch Pizza Hut TV Client (Pi Player)
Exec=/home/everydayadvertise/ea_tv_launcher.sh
Icon=/home/everydayadvertise/ea_tv_icon.png
Terminal=false
Categories=AudioVideo;Player;
StartupNotify=true
Keywords=pizza;hut;tv;video;player;digital;signage;
MimeType=video/mp4;video/mpeg;
Actions=Emergency;

[Desktop Action Emergency]
Name=Emergency Exit
Exec=pkill -f python; pkill vlc