[Unit]
Description=PizzaHutTV Screen2 (Follower Slice) Player
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=everydayadvertise
WorkingDirectory=/home/everydayadvertise/pizza-hut-tv
ExecStart=/usr/bin/python3 /home/everydayadvertise/pizza-hut-tv/enterprise_launcher.py --store {{STORE_CODE}} --screen 2 --code {{PAIR_CODE}}
Restart=on-failure
RestartSec=6
Environment=PHTV_SERVER_URL=https://everydayadvertise.com
# Ensure we do NOT try VLC cropping; Chromium will be used for follower slice automatically
Environment=ENABLE_VLC_SLICE_CROP=0

[Install]
WantedBy=multi-user.target
